<table style="display: table; width: 100%;">
<tbody>
    <tr>
        <th>#</th>
        <th>IMDb</th>
        <th>years</th>
        <th>S / E</th>
        <th>runtime</th>
    </tr>
{% assign display_table = false %}
{% assign table_row_counter = 0 %}
{% for series in site.c_series %}
    {% assign display_table = false %}
    {% case include.type %}
        {% when "category" %}
            {% if series.d_sort_category == include.sort_category %}
                {% assign display_table = true %}
            {% endif %}
        {% when "collection" %}
            {% if series.d_sort_category == include.sort_category and series.d_sort_level == include.sort_level %}
                {% assign display_table = true %}
            {% endif %}
        {% when "all" %}
            {% assign display_table = true %}
        {% else %}
            {% assign display_table = false %}
    {% endcase %}
    {% if display_table == true %}
        {% assign table_row_counter = table_row_counter | plus: 1 %}
        <tr>
            <td rowspan="2">{{ table_row_counter }}.</td>
            <td rowspan="2">
                <a href="{{ series.imdb_link }}" target="_blank">
                    <img src="{{ series.imdb_image }}" alt="{{ series.d_title }}" />
                </a>
            </td>
            <td colspan="3">
                <a href="/catalog{{ series.permalink }}" target="_self">{{ series.d_title }}</a>
            </td>
        </tr>
        <tr>
            <td>{{ series.imdb_year_start }}&nbsp;—&nbsp;{{ series.imdb_year_finish }}</td>
            <td>{{ series.imdb_seasons }}&nbsp;/&nbsp;{{ series.imdb_episodes }} ({{ series.d_ep_per_season }})</td>
            <td>{{ series.imdb_runtime }}</td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
