<table style="display: table; width: 100%;">
<tbody>
    <tr>
        <th>IMDb</th>
        <th>years</th>
        <th>S / tE / Rt</th>
        <th>genre</th>
        <th>creators</th>
    </tr>
{% for series in site.c_series %}
    {% if series.d_watch_status == "watching" and series.d_available == include.availability %}
        <tr>
            <td rowspan="3">
                <a href="{{ series.imdb_link }}" target="_blank">
                    <img src="{{ series.imdb_image }}" alt="{{ series.d_title }}" />
                </a>
            </td>
            <td colspan="4">
                <a href="/catalog{{ series.permalink }}" target="_self">{{ series.d_title }}</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">[&nbsp;s{{ series.d_watch_done_seasons }}e{{ series.d_watch_done_episodes }}&nbsp;{{ series.d_watch_done_comment }}&nbsp;]&nbsp;|&nbsp;{{ series.d_air_status }} — {{ series.d_air_season }}</td>
        </tr>
        <tr>
            <td>{{ series.imdb_year_start }}&nbsp;—&nbsp;{{ series.imdb_year_finish }}</td>
            <td>{{ series.imdb_seasons }}&nbsp;/&nbsp;{{ series.d_ep_per_season }}&nbsp;({{ series.imdb_episodes }})&nbsp;/&nbsp;{{ series.imdb_runtime }}</td>
            <td>{{ series.imdb_genre }}</td>
            <td>
                {% for creator in series.imdb_creators %}
                    <a href="{{ creator.link }}" target="_blank">{{ creator.name }}</a>
                    {% if creator != series.imdb_creators.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
