<!DOCTYPE html>
<html lang="en" ng-app="sunarchApp">
    <head>
        <!-- required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- meta tags -->
        <meta name="description" content="">
        <meta name="author" content="András Németh">

        <title>sunarch on GitHub</title>

        <link rel="canonical" href="https://sunarch.github.io/github/">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="../img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="../img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="icon" href="../img/favicons/favicon.ico">

        <meta name="theme-color" content="#563d7c">

        <!-- styles -->

        <!-- Custom styles for this template -->
        <link href="../css/main.css" rel="stylesheet">

        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="../js/angular-app.js"></script>

        <!--
        <script type="text/javascript" language="JavaScript">
            function w(s) {document.write(s);}
            var jai = [
                ["window","closed","defaultStatus","innerHeight","innerWidth","name","opener","outerHeight","outerWidth","pageXOffset","pageYOffset","screenLeft","screenTop","screenX","screenY","status"],
                ["navigator","appCodeName","appName","appVersion","cookieEnabled","platform","userAgent"],
                ["screen","availHeight","availWidth","colorDepth","height","pixelDepth","width"],
                ["history","length"],
                ["location","hash","host","hostname","href","pathname","port","protocol","search"]
            ];
            function refresh() {
                document.getElementById("jai_tables").style.display = "block";
                document.getElementById("errormessage").style.display = "none";
                for (n1=0;n1<=jai.length-1;n1=n1+1) {
                    for (n2=1;n2<=jai[n1].length-1;n2=n2+1) {
                        document.getElementById(jai[n1][0]+"_"+jai[n1][n2]).innerHTML = eval(jai[n1][0]+"."+jai[n1][n2]);
                    }
                }
            }
        </script>
        -->

        <template>

        </template>



    </head>
    <body ng-controller="JSInfoController">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">sunarch</a>
            <!--
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Refresh</a>
                </li>
            </ul>
            -->
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">
                                    <span data-feather="home"></span>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">
                                    <span data-feather="folder"></span>
                                    Tools
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="file-text"></span>
                                    JavaScript Info <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Tools</span>
                        </h6>

                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">
                                    <span data-feather="file-text"></span>
                                    Main
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    JavaScript Info
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">JavaScript Accessed Information</h1>
                    </div>

                    <h2>Window</h2>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            <tr ng-repeat="item in window">
                                <td>{{ item.key }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        </table>
                    </div>

                    <h2>Navigator</h2>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            <tr ng-repeat="item in navigator">
                                <td>{{ item.key }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        </table>
                    </div>

                    <h2>Screen</h2>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            <tr ng-repeat="item in screen">
                                <td>{{ item.key }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        </table>
                    </div>

                    <h2>History</h2>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            <tr ng-repeat="item in history">
                                <td>{{ item.key }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        </table>
                    </div>

                    <h2>Location</h2>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            <tr ng-repeat="item in location">
                                <td>{{ item.key }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        </table>
                    </div>

                </main>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
